<div>
  <form [formGroup]="formCreate">
    <div class="form-group">
      <label for="createEntryTitle" i18n="@@Title">Title</label>
      <input class="form-control" type="text" id="createEntryTitle" formControlName="title">
    </div>
    <div class="form-group">
      <label for="createEntryDescription" i18n="@@Describtion">Description</label>
      <input class="form-control" type="text" id="createEntryDescription" formControlName="description">
    </div>
    <div>
      
    </div>
  </form>
</div>
